.graticule {
    fill: none;
    stroke: #777;
    stroke-width: 0.5px;
    stroke-opacity: 0.5;
}
  
.land {
    fill: #222;
}

.boundary {
    fill: none;
    stroke: #f00;
    stroke-width: 0.5px;
}

.controls {
    width: 500px;
}

.projection {
    margin-bottom: 25px;
    .projection-form {
        width: 100%;
    }
}

a {
    text-decoration: none;
}