.graticule {
    fill: none;
    stroke: #777;
    stroke-width: 0.5px;
    stroke-opacity: 0.5;
}
  
.land {
    fill: #222;
}

.boundary {
    fill: none;
    stroke: #f00;
    stroke-width: 0.5px;
}

.controls {
    width: 500px;
}

.projection {
    margin-bottom: 25px;
    .projection-form {
        width: 100%;
    }
}

a {
    text-decoration: none;
}

.main-canvas {
    border: 2px solid black;
    cursor: grab;
}

.secondary-canvas {
    border: 2px solid black;
    display: none;    
}

.svg-container svg {
    border: 2px solid blue;
    display: none;
}

.all-screen-container {
    display: flex;
    flex-direction: row;

    .all-rendering-container {
        flex: 2;
        padding: 10px;
    }

    .all-controls-container {
        flex: 1;
        padding: 10px;
        border-left: 1px solid black;
        border-bottom: 1px solid black;
        height: 100%;
    }
}